*, *::before, *::after {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-size: 1rem;
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.stopwatch {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: red;
}

.stopwatch-api {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.btn {
    outline: none;
    border:  none;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    margin-right: 0.5rem;
}

.btn-primary {
    background-image: linear-gradient(to right, yellow, orange);
}

.btn-primary:hover {
    opacity: 0.8;
    color: #fff;
}